.one {
  position:absolute;
  top:;
  left:50;
  width:300;
  height:;
}

.two {
  position:absolute;
  top:70;
  left:;
  width:1260;
  height:;
}

.tree {
  position:absolute;
  top:900;
  left:100;
  width:300;
  height:;
  
}

.three {
  position:absolute;
  top:1200;
  left:150;
  width:200;
  height:100;
  
}

.fo  {
  position:absolute;
  top:900;
  left:450;
  width:300;
  height:;
  
}

.for {
  position:absolute;
  top:1200;
  left:500;
  width:200;
  height:100;
  
}

.fif  {
  position:absolute;
  top:900;
  left:800;
  width:300;
  height:;
  
}

.fife {
  position:absolute;
  top:1200;
  left:850;
  width:200;
  height:100;
  
}
.sik  {
  position:absolute;
  top:1400;
  left:800;
  width:300;
  height:;
  
}


.six {
  position:absolute;
  top:1700;
  left:850;
  width:200;
  height:100;
  
}

.sew  {
  position:absolute;
  top:1400;
  left:450;
  width:300;
  height:;
  
}

.sewen {
  position:absolute;
  top:1700;
  left:500;
  width:200;
  height:100;
  
}

.wo  {
  position:absolute;
  top:1400;
  left:100;
  width:300;
  height:;
  
}

.wos {
  position:absolute;
  top:1700;
  left:150;
  width:200;
  height:100;
  
}

.i {
  position:absolute;
  top:;
  left:350;
  width:;
  height:;
  
}


.r {
  position:absolute;
  top:2050;
  left:100;
  
}

.re {
  position:absolute;
  top:2000;
  left:100;
 
}